<% if (@user.present? & @created_at.present?) %>
  <div class="row">    
      <div class="span12 thumbnail">
          <small><strong><%=  "#{@user.name} joined on #{@created_at.strftime("%b %d, %Y")}"  %></strong></small>
      </div>
  </div>
<% else %>
  <td>
      Nothing to display
  </td>    
<% end %>

<% if @repos.present? %>
  <table class="table  table-bordered">
      <tr>
          <th>
              Repository Links
          </th>
      </tr>
      <% @repos.each do |repos| %>
        <tr class="<%= cycle('info', 'active') -%>">
            <td>
                <%= link_to repos.svn_url , url_for(repos.svn_url), :target => "_blank"%>
            </td>
        </tr>
      <% end %>
  </table>  

  <% if @paginate %>
    <nav>
        <ul class="pagination" style="margin-top: -40px;">
            <li><%= will_paginate @repos, renderer: BootstrapPagination::Rails, :param_name => 'github_page' %></li>
        </ul>
    </nav>
  <% end %>
<% else %>
  <td>
      No records for the user
  </td>    
<% end %>

<% if @response.body.present? %>
  <table class="table  table-bordered">
      <tr>
          <th>
              Gems published by user
          </th>
      </tr>
      <% @response.each do |response| %>
        <tr class="<%= cycle('info', 'active') -%>">
            <td>
                <%= link_to response["homepage_uri"] , url_for(response["homepage_uri"]), :target => "_blank"%>
            </td>
        </tr>
      <% end %>
  </table>

  <% if @paginate %>
    <nav>
        <ul class="pagination" style="margin-top: -40px;">
            <li><%= will_paginate @response, renderer: BootstrapPagination::Rails, :param_name => 'rubyGems_page' %></li>
        </ul>
    </nav>
  <% end %>
<% else %>
  <td>
      No records for the user
  </td>    
<% end %>
<% if @twitter_user.present? %>
  <table class="table  table-bordered">
      <tr>
          <th>
              Twitter feeds of the user
          </th>
      </tr>
      <% @twitter_user.each do |tweet| %>
        <tr class="<%= cycle('info', 'active') -%>">
            <td>
                <%= link_to tweet.text, url_for("https://www.twitter.com/#{tweet.user.screen_name}"), :target => "_blank"%>
            </td>
        </tr>
      <% end %>
  </table>
  <% if @paginate %>
    <nav>
        <ul class="pagination" style="margin-top: -40px;">
            <li><%= will_paginate @twitter_user, renderer: BootstrapPagination::Rails, :param_name => 'twitter_page' %></li>
        </ul>
    </nav>
  <% end %>
<% else %>
  <td>
      No tweets for the user
  </td>    
<% end %>